body{

    background: rgb(253,248,237);
    background: linear-gradient(0deg, rgba(253,248,237,1) 47%, rgba(185,148,84,0.039653361344537785) 100%);
    font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
  color: rgb(53, 51, 51);
}

.pic1{
  width:270px;
  height: 370px;
 align-items: center;

}
h1,h4,p,ul, main{
  text-align: center;
}


footer{
  background-color: rgba(112, 100, 84, 0.452);
  text-align: left;
  }
  ul{
    list-style: none; /*quitamos los puntos de una lista*/
    align-content: center;
    padding: 0px; /*para acomodar la lista centrada y no con margenes*/
    margin: 0px; /*complemento arriba*/
  }